img {
    max-width: 100%;
    display: block;
    /* border: 1px solid red; */
} 
  
figure {
    margin-bottom: 10px !important;
    display: grid;
    grid-template-rows: 1fr auto;
    break-inside: avoid;
}

figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
}



.wrapcontainer {
    column-count: 4;
    column-gap: 10px;
}

@media only screen and (max-width:768px) {
    .wrapcontainer {
        column-count: 3;
        column-gap: 10px;
    }
}