---
import Layout from "../../layouts/Layout.astro";

import NewsComponentAstro from "../../components/vdnh/NewsComponent.astro";
import PromoComponentAstro from "../../components/vdnh/PromoComponent.astro";
import VdnhZones from "../../components/vdnh/VdnhZones.astro";
import Vdnhslider from "../../components/sliders/Vdnhslider.astro";

import "./clubsStyles.scss";
---

<Layout title="example" description="example" keys="example" ogtype="website">
  <!-- utp -->
  <div class="container mx-auto">
    <div class="newUtp rounded-md">
      <div class="overlay"></div>

      <div class="font-semibold leading-7 mt-5 sm:mt-10 smallTitle">club</div>
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-300">
        Game Club
      </h1>
      <h2 class="mt-6 text-lg leading-8 text-gray-300">street</h2>
    </div>
  </div>
  <!-- utp end -->

  <NewsComponentAstro />
  <PromoComponentAstro />

  <VdnhZones />
  <Vdnhslider />
</Layout>
